[submodule "ssh"]
	path = ssh
	url = https://github.com/gwdg/puppet-ssh.git
[submodule "swift"]
	path = swift
	url = https://github.com/gwdg/puppetlabs-swift.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/gwdg/puppet-memcached.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/gwdg/puppetlabs-stdlib.git
[submodule "rsync"]
	path = rsync
	url = https://github.com/gwdg/puppetlabs-rsync.git
[submodule "concat"]
	path = concat
	url = https://github.com/gwdg/puppet-concat.git
